<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container">
    <h1>About</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, maiores? Fugiat a veritatis doloribus repellat esse laboriosam soluta ex pariatur error accusantium porro alias deserunt incidunt, architecto voluptatum labore in.</h2>
</div>
<%- include('../partials/footer') %>